body {
  width: 100vw;
  background-color: #fafafa;
  padding: auto;
}

span {
  display: inline-block;
  text-align: center;
  margin: 2px;
}

input {
  text-align: center;
  width: 20px;
}

footer {
  text-align: center;
}
